*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#0b0b0b;
    color:#fff;
    min-height:100vh;
    overflow-x:hidden;
}

.background{
    position:fixed;
    inset:0;
    background:
        radial-gradient(circle at center,#1b1b1b,#080808 70%);
    z-index:-1;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px;
}

.profile{
    display:flex;
    align-items:center;
    gap:12px;
}

.avatar{
    width:56px;
    height:56px;
    border-radius:50%;
    background:#333;
}

.profile h2{
    font-size:26px;
    margin-bottom:4px;
}

.profile p{
    color:#ddd;
}

.balance{
    text-align:right;
}

.balance span{
    display:block;
    font-size:42px;
    font-weight:bold;
    color:#FFD700;
}

.balance p{
    font-size:18px;
}

.energyBox{
    width:90%;
    margin:20px auto;
}

.energyText{
    font-size:18px;
    margin-bottom:10px;
}

.energyBar{
    width:100%;
    height:14px;
    background:#222;
    border-radius:30px;
    overflow:hidden;
}

#energyFill{
    width:100%;
    height:100%;
    background:linear-gradient(90deg,#FFD700,#ff9800);
    transition:.2s;
}

main{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:25px;
}

.coin-wrapper{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

#coin{

    width:72vw;
    max-width:290px;
    min-width:190px;

    aspect-ratio:1;

    object-fit:contain;

    display:block;

    transition:transform .08s;

    transform-style:preserve-3d;

    filter:
        drop-shadow(0 0 45px rgba(255,215,0,.45));

    user-select:none;
    -webkit-user-drag:none;

}

.plus-one{

    position:fixed;

    color:#FFD700;

    font-size:30px;

    font-weight:bold;

    pointer-events:none;

    text-shadow:0 0 15px gold;

    animation:plus .8s forwards;

}

@keyframes plus{

    from{

        opacity:1;
        transform:translate(-50%,0) scale(1);

    }

    to{

        opacity:0;
        transform:translate(-50%,-90px) scale(1.8);

    }

}

footer{

    position:fixed;

    bottom:18px;

    left:50%;

    transform:translateX(-50%);

    width:90%;

    max-width:430px;

    display:flex;

    justify-content:space-around;

    align-items:center;

    background:#1c1c1c;

    border-radius:30px;

    padding:12px 0;

    box-shadow:0 0 20px rgba(0,0,0,.5);

}

footer button{

    background:none;

    border:none;

    color:#fff;

    font-size:18px;

}
